h1, p {
  font-family: Lato;
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}
body{
  background-color: rgb(137, 215, 243);
}
.calculator-body {
  max-width: 400px;
  margin: auto;
  
}

.button {
  display: block;
  background-color: rgb(225, 219, 219);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
